@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin-top: 0;
  font-family: "RocknRoll One", sans-serif;
  display: flex;
  flex-direction: column;
}
.navbar {
  background-color: bisque;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.navbar p {
  font-size: 40px;
  text-align: center;
}
.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.navbar ul li {
  font-size: 20px;
  text-decoration: none;
  padding: 20px;
}
.navbar ul li a {
  text-decoration: none;
  color: #632f19;
}
/* front-page*/
.index-content {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.index-content img {
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
}
.index-content h1 {
  text-align: center;
  font-size: 40px;
  padding-top: 10px;
}
.index-content h2 {
  text-align: center;
  margin-bottom: 20px;
}
.index-content p {
  padding-top: 20px;
  padding-bottom: 10px;
}
/* guestbook*/
table {
    margin-top: 50px;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}
th {
    background-color: #5f3625;
    border-radius: 5px;
    padding: 5px;
    color: bisque;
    letter-spacing: 1.5px;
}
td {
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid rgb(177, 148, 112);
}
tbody tr:nth-child(even){
  background-color: rgb(177, 148, 112);
  color: #fff;
}

.newmessage-content {
    margin-left: auto;
    margin-right: auto;
}
.newmessage-content h3 {
    text-align: center;
    margin-top: 50px;
}
.newmessage-content input {
    width: 100%;
    font-size: 20px;
    padding: 8px;
    margin: 10px;
    border-radius: 5px;
}
.newmessage-content button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    width: 100px;
    margin-top: 20px;
    padding: 5px;
    background-color: rgb(177, 148, 112);
    border-radius: 3px;
    font-weight: bold;
}
form p {
  color: red;
}
footer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: 20px;
  flex-shrink: 0;
}
