@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    margin-top: 0;
    font-family: 'RocknRoll One', sans-serif;
}
.navbar {
    background-color: bisque;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.navbar p {
    font-size: 50px;
    text-align: center;
}
.navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
.navbar ul li {
    font-size: 30px;
    text-decoration: none;
}
.navbar ul li a{
    text-decoration: none;
}
.index-content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.index-content h1 {
    text-align: center;
    font-size: 100px;
    padding-top: 20px;
}

footer {
    bottom: 0;
    position: fixed;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 30px;
}